# loop

For loop is going to iterate objects one by one

In [1]:
l = ['H', 'E', 'L', 'L', 'O', 'I']

In [2]:
for char in l:
    print(char)

H
E
L
L
O
I

In [3]:
d = [15,25,35,45,55]

In [4]:
for num in d:
    print(num)

15
25
35
45
55

In [5]:
for num in d:
    print(num + 5)

20
30
40
50
60

In [6]:
for i in 'call':
    print(i)

c
a
l
l

In [8]:
for i in 150:
    print(i) # it is not iterable

TypeError: 'int' object is not iterable

In [9]:
t = (1,2,3,4,5)

In [10]:
for numbers in t:
    print(numbers)

1
2
3
4
5

In [11]:
y = (100,10)

In [12]:
for data in y:
    print(data)

100
10

In [13]:
for i in 'maths':
    print(i)

m
a
t
h
s

In [20]:
names = ['Vaibhav', 'Vinit', 'Sandesh', 'Vaishnavi', 'Ankita', 'Rijuta']

In [27]:
for i in names:
    print('hi '+ i)

hi Vaibhav
hi Vinit
hi Sandesh
hi Vaishnavi
hi Ankita
hi Rijuta